[Desktop Entry]
Type=Application
Version=1.0
Name=Install marsOS
GenericName=System Installer
Comment=Install marsOS Cyber Sol Edition permanently onto this machine
Exec=konsole -e sudo archinstall
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
